<!DOCTYPE html>
<html>
<head lang="en">
    <title>Welcome to Wisdom</title>
    <link rel="shortcut icon" href="/assets/owl-small.png"/>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>

    <link rel="stylesheet" href="/libs/css/bootstrap.css" media="screen"/>
    <link rel="stylesheet" href="/assets/main.css"/>

</head>
<body>
<div class="container">

    <form class="form-signin" role="form" action="#" th:action="${#routes.route('login')}" th:object="${user}"
          method="post">
        <h2 class="form-signin-heading">Please sign in</h2>
        <input class="form-control" placeholder="Username" name="username"/>
        <input type="password" class="form-control" placeholder="Password" name="password"/>

        <div class="checkbox">
            <label>
                <input type="checkbox" value="remember-me"/> Remember me
            </label>
        </div>
        <div class="alert alert-danger" th:if="${flash_error}" th:text="${flash_error}">
        </div>
        <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
    </form>

</div>
<!-- /container -->

</body>
</html>